<div class="form-wrapper">
  <form #form="ngForm">
    <div class="form-field-wrapper">
      <label for="firstName">First Name</label>
      <br>
      <input type="text" id="firstName" name="firstName" #fName="ngModel" [(ngModel)]="student.firstName" required minlength="4">
      @if (fName.errors?.['required'] && (fName.touched || fName.dirty)) {
        <span>This Field Is required</span>
      }@else if(fName.errors?.['minlength'] && (fName.touched || fName.dirty)) {
        <span>Minimum 4 characters required</span>
      }
    </div>
    <div class="form-field-wrapper">
      <label for="lastName">Last Name</label>
      <br>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="student.lastName" required>
    </div>
    <div class="form-field-wrapper">
      <label for="username">Username</label>
      <br>
      <input type="text" id="username" name="username" [(ngModel)]="student.username" required>
    </div>
    <div class="form-field-wrapper">
      <label for="gender">Gender</label>
      <br>
      <input type="text" id="gender" name="gender" [(ngModel)]="student.gender" required>
    </div>
    <div class="form-field-wrapper">
      <label for="city">City</label>
      <br>
      <input type="text" id="city" name="city" [(ngModel)]="student.city" required>
    </div>

    <div class="form-field-wrapper">
      <label for="state">State</label>
      <br>
      <select id="state" [(ngModel)]="student.state" name="state" required>
        <option selected disabled value="">Choose...</option>
        <option *ngFor="let state of states" [value]="state">{{state}}</option>
      </select>
    </div>
    <div class="form-field-wrapper">
      <label for="email">Email</label>
      <br>
      <input type="email" name="email" id="email" [(ngModel)]="student.email"required>
    </div>

    <div class="form-field-wrapper">
      <label for="password">Password</label>
      <br>
      <input type="password" id="password" name="password" [(ngModel)]="student.password" required>
    </div>
    <div class="form-field-wrapper">
      <button class="reset" (click)="reset()">Reset</button>
      <button class="submit" (click)="submit()" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
  <div class="data">
    {{studentDataFromForm | json}}
  </div>
</div>

<br><br>
